h1 {
  font-size: 400%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	*/
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 2em 2em;
}
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}
.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(85% 3% 200);
  padding-bottom: 0.4em;
}
:root {
  --color-accent: oklch(0.681 0.1389 60.36);
}
html {
  accent-color: var(--color-accent);
  color-scheme: light dark;
}
nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.4em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
form button {
  grid-column: 1 / -1;
}
form label, input, textarea, button {
  gap: 1em;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}
.projects article h2 {
  margin: 0;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}
#projects-pie-plot {
  flex: 1; /* grows and shrink relative to legend */
  max-width: 20em;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-block: 2em;
  overflow: visible;
}
.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  flex: 1;
  min-inline-size: 10rem;
  gap: 0.5em;
  margin: 2em;
  padding: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-color: oklch(85% 3% 200);
}
.swatch-list {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--color);
  border-radius: 50%;
  margin-right: 0.5em; 
  vertical-align: middle;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
  gap: 0.5em;
}